[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
numpy = "*"
imageio = "*"
pytesseract = "*"
pandas = "*"
opencv-python = "*"
jellyfish = "*"
requests = "*"

[requires]
python_version = "3.7"
